@media screen and (max-width: 1199px) {
    .activity {
        display: none;
    }
}

.no-padding-top {
    padding-top: 0; 
 }

.activity__list {
    display: flex;
    text-align: center;
    gap: 30px;
}

.activity__wrapper {
    position: relative;
}

.activity__image {
    display: block;
    position: relative;
}

.activity__subtitle {
    position: absolute;
    bottom: 0;
    
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;

    background: rgba(47, 48, 58, 0.8);
    color: var(--primary-white-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}