.features__list {
    display: flex;
    gap: 30px;
}

.features__item {
    width: 270px;
}

.features__wrapper {
    display: flex;
    justify-content:center;
    align-items:center;

    margin-bottom: 30px;
    height: 120px;

    background-color: var(--third-background-color);
}

.features__subtitle {
    margin-bottom: 10px;

    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features__desc {

    color: var(--text-color);

    font-size: 14px;
    line-height: 1.71;
}