.page-header__container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}

.page-header__contacts {
    margin-left: 50px;

    &:first-child {
        margin-left: 0;
    }
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}