.button {
    display: inline-block;
    border: 0;
    border-radius: 4px;
    padding: 10px 24px;

    background-color: var(--accent-color);
    color: var(--primary-white-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    cursor: pointer;
}

.modal-button {
    transition: background-color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}

@media screen and (min-width: 1200px) {
    .button {
        padding: 10px 32px;
    }
}
