.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 94%;
    height: 94%;
    max-width: 450px;
    max-height: 609px;
    // min-width: 528px;
    // min-height: 581px;
    padding: 40px;
    border-radius: 4px;
    overflow: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-dur-and-func);
    background-color: #FFFFFF;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
    .modal {
        max-width: 528px;
        max-height: 581px;
    }
}